'Question

'Title:
= result.try(:highlight).try(:title) ? sanitize(result.highlight.title[0]) : sanitize(result._source.title)
<br>

- if result.try(:highlight).try(:body)
  'Body:
  - result.highlight.body.each do |snippet|
    p= sanitize('...' + snippet + '...')

<br>
'Author:
= result.try(:highlight).try('author.email') ? sanitize(result.highlight['author.email'][0]) : result._source.author.email

= link_to "Open question", question_path(result._source.id)
