'Email confirmation
'Your email was specified during authorization in the Answers on Questions service. If it wasn't you, just ignore this email.

'To confirm your email, follow the link:
= confirm_confirmed_emails_url(confirmation_token: @confirmed_email.confirmation_token)
