- if @user.author_of?(@question)
  'Your question received a new answer.
- else
  'Question received a new answer.

'Question:
= @question.title

'Answer:
= @new_answer.body
= link_to "Open", answer_url(@new_answer)
