<% if @answer.destroyed? %>
  $('#answer_<%= @answer.id %>').remove();

  addAlert('Answer has been removed successfully.', 'success');

  <% if @answer.question.answers.count.zero? %>
    $('.answers').append('<span class="no-answers">No answers</span>');
  <% end %>
<% end %>
