

<div class="comment">
  <div class="comment-author mb-1">
    Comment by {{comment.author_email}}
  </div>

  <div class="comment-body mb-1">
    {{comment.body}}
  </div>

  <div class="comment-date">
    Created: {{comment.created_date}}
  </div>
</div>
