@import "bootstrap/scss/functions";
@import "bootstrap/scss/_variables.scss";

.answers>li {
  padding: 20px;
  border-radius: 6px;
  background-color: $gray-100;
  border: 1px solid $gray-200;
}

.answers>.best {
  border: 1px solid $teal-200;
}
