@import "bootstrap/scss/functions";
@import "bootstrap/scss/_variables.scss";

.comments {
  & .comment {
    padding: 20px 0;
    border-bottom: 1px solid $gray-300;

    & .comment-author {
      line-height: 1;
      display: inline-block;
      padding: 5px;
      background-color: $gray-200;
      border-radius: 4px;
      font-size: 10px;
    }

    & .comment-date {
      font-size: 10px;
    }
  }

  & .comment:last-child {
    border-bottom: none
  }
}
